<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.Test">
        <activity
            android:name=".MainActivity4"
            android:label="@string/title_activity_main4"></activity>
        <activity android:name=".TabeActivity" />
        <activity android:name=".FragmentActivity"></activity>
        <activity android:name=".DialogActivity" />
        <activity android:name=".MenuActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".MyFragmentActivity">
        </activity>

        <activity android:name=".NewsDetailsActivity" />
        <activity android:name=".RecyclerViewActivity" />
        <activity android:name=".CustomListActivity" />
        <activity android:name=".ListViewActivity" />
        <activity android:name=".MainActivity3" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>